.card {
    width : 312px;
    height: 552px;
    border: 1px solid #D58C51;
    color : #FFFFFF;
}

.card:hover {
    color: #D58C51;
}

.card__wrapper {
    display       : flex;
    flex-direction: column;
    margin        : 43px 21px 36px 21px;
}

.card__image {
    width        : 270px;
    height       : 271px;
    margin-bottom: 30px;
}

.card__title {
    font-family  : 'Montserrat';
    font-style   : normal;
    font-weight  : 500;
    font-size    : 17px;
    line-height  : 21px;
    height       : 42px;
    margin-bottom: 8px;
}

.card__description {
    font-family: 'Montserrat';
    font-style : normal;
    font-weight: 400;
    font-size  : 14px;
    line-height: 17px;
    height     : 68px;
}

.card__nav {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    margin-top     : 28px;
}

.card__value {
    font-family: 'Montserrat';
    font-style : normal;
    font-weight: 500;
    font-size  : 17px;
    line-height: 21px;
}

.card__value>span {
    font-family: 'Montserrat';
    font-style : normal;
    font-weight: 400;
    font-size  : 14px;
    line-height: 17px;
}

.card__add {
    width           : 30px;
    height          : 30px;
    border-radius   : 50%;
    background-color: transparent;
    border          : 1px solid #FFFFFF;
}

.card__add:hover {
    background-color: #D58C51;
    cursor          : pointer;
}