.header__wrapper {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    margin-bottom  : 81px;

}

.header__title {
    color         : #FFFFFF;
    font-family   : 'Montserrat';
    font-style    : normal;
    font-weight   : 700;
    font-size     : 31px;
    line-height   : 38px;
    text-transform: uppercase;
    display       : inline-block;
}

.header__btn {
    width              : 50px;
    height             : 50px;
    background-color   : #D58C51;
    border-radius      : 50%;
    background-image   : url("../../../../public/assets/cartSvg.svg");
    background-size    : 70%;
    background-position: center;
    background-repeat  : no-repeat;
    cursor             : pointer;
}

.header__cartInfo {
    color       : #FFFFFF;
    display     : inline-block;
    width       : 60%;
    height      : 42px;
    font-family : 'Montserrat';
    font-style  : normal;
    font-weight : 500;
    font-size   : 17px;
    line-height : 21px;
    text-align  : right;
    margin-right: 20px;

}