.wrapper {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    flex-wrap      : nowrap;
    width          : 90vw;
    height         : 100vh;
    margin         : 54px 70px;
}

.wrapper__products {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    gap            : 20px;
    justify-content: space-between;
    padding-bottom : 70px;
}